// Hand crafted section
.handCrafted {
  background-color: $darkTwo;
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  .wrapper {
    display: flex;
  }
  .hand-crafted_Image {
    width: 30%;
    margin: 0;
    img {
      width: 330px;
      height: auto;
    }
  }
  .hand-crafted_Content {
    width: 70%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
      font-family: $headingFont;
      font-size: 3rem;
      color: $white;
      margin: 0;
    }
    p {
      font-family: $bodyFont;
      font-size: $baseFontSize;
      color: $white;
      line-height: 29px;
    }
    a {
      font-family: $headingFont;
      font-size: 1.5rem;
      color: $white;
      text-decoration: none;
      text-align: center;
      word-wrap: normal;
      border: 1px solid $apricot;
      width: 140px;
      padding: 5px;
    }
  }
}

// Latest collection section
.latestCollection {
  background-color: $darkOne;
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-family: $headingFont;
    font-size: 3rem;
    color: $white;
    width: 100%;
    margin-top: 25px;
    text-align: center;
  }
  .collectionImages {
    display: flex;

    img {
      width: 30%;
      margin: auto;
    }
  }
}

// About Links
.about {
  height: 250px;
  background-color: $darkTwo;
  display: flex;
  align-items: center;
  .wrapper {
    display: flex;
  }
  .aboutLinks {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      i {
        color: $apricot;
      }
      p {
        font-family: $headingFont;
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
        color: $white;
        margin-top: 30px;
      }
    }
  }
}
// Article section
.secondReadingList,
.readingList {
  background-color: $darkOne;
  display: flex;
  .wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    justify-content: center;
    width: 50%;
  }
  .article {
    display: flex;
    flex-direction: column;
    h2 {
      font-family: $headingFont;
      font-size: 3rem;
      font-weight: 400;
      text-align: left;
      color: $white;
      margin-bottom: 0;
    }
    p {
      font-family: $bodyFont;
      font-size: $baseFontSize;
      color: $white;
      line-height: 29px;
      width: 80%;
    }
    a {
      font-family: $headingFont;
      font-size: 1.5rem;
      color: $white;
      text-decoration: none;
      text-align: center;
      border: 1px solid $apricot;
      width: 140px;
      padding: 5px;
    }
  }
  .articleImage {
    width: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.secondReadingList {
  display: flex;
  flex-direction: row-reverse;
  .wrapper {
    margin-right: 0;
    padding-left: 0;
    justify-content: center;
    width: 50%;
  }
  .article {
    display: flex;
    align-items: flex-start;
    padding-left: 10%;
    h2 {
      text-align: right;
    }
    p {
      width: 80%;
    }
  }
  .articleImage {
    width: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
// Footer

.footer {
  height: 250px;
  background-color: $darkTwo;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .linkFooter {
    display: flex;
    flex-direction: column;
    a {
      font-family: $headingFont;
      font-size: $baseFontSize;
      color: $white;
      line-height: 29px;
      text-decoration: none;
    }
  }
  .form {
    h5 {
      font-family: $headingFont;
      font-size: 1.5rem;
      color: $white;
      text-align: center;
      margin: 0;
    }
    p {
      font-family: $bodyFont;
      font-size: $baseFontSize;
      color: $white;
      line-height: 8px;
    }
    input {
      width: 400px;
      height: 30px;
      border: none;
    }
    button {
      height: 30px;
      background-color: black;
      border: none;
      color: $white;
      font-family: $headingFont;
      font-size: $baseFontSize;
      padding: 5px;
    }
  }
  .footerInfo {
    h5 {
      font-family: $headingFont;
      font-size: 1.5rem;
      color: $white;
      text-align: right;
      margin: 0;
    }
    p {
      font-family: $bodyFont;
      font-size: $baseFontSize;
      color: $white;
      line-height: 8px;
      text-align: right;
    }
  }
}
